html {
  font-size: 10px;
  font-family: 'Amatic SC', cursive;
  background-color: black;

}
h1 {
  margin: 0;
  font-size: 60px;
  text-align: center;

}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 500px;
  margin: 0 auto;
  background-color: #DAE1EB;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
img {
  width: 400px;
  display: block;
  margin: 0 auto;

}